*{  
  margin: 0;
  font-family: 'Lato', sans-serif;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
ul{
  padding: 0;
}
/*////////////////////////////////////////////////////////////////// NAV ///*/
nav{
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  background-color: #2f3542;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
}
nav ul{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
nav ul a{
  color: white;
  text-decoration: none;
}
/*////////////////////////////////////////////////////////////////// ABOUT ///*/
#about-img-bg{
  background: url('images/cs-bg.jpg');
  background-position: top right;  
  height: 40vh;
}
#about{
	box-sizing: border-box;
	display: flex;
  height: 100%;
	flex-direction: column;
	justify-content: space-between;
  padding: 60px 40px 40px 40px;
  background: linear-gradient(270deg, transparent 0, #ff6b6b 40%);
  color: white;
}
#about h1{
  margin-bottom: 15px;
}
#about h4{
  margin: 40px 0 10px 0;
}
#about ul{
  width: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}
#about ul a{
  color: white;
}
/*////////////////////////////////////////////////////////////////// SKILLS ///*/
#skills{
  background-color: #badc58;
  color: white;
  padding: 40px;
}
#skills ul{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#skills ul li{
  margin: 10px 0;
}
/*////////////////////////////////////////////////////////////////// PORTFOLIO ///*/
#portfolio{
  box-sizing: border-box;
  padding: 60px 40px 40px 40px;
  background-color: #48dbfb;
  color: white;
}
#portfolio h1{
  margin-bottom: 20px;
}
.project-img-bg{
  width: 100%;
  background-position: top right;
  margin-bottom: 20px;
  border-bottom: 10px solid #0abde3;
  border-radius: 5px;
}
#portfolio #project-list .project{
  background: linear-gradient(270deg, transparent 50%, #0abde3 100%);
  border-radius: 5px;
}
#portfolio #project-list .project-info-card{
  width: 300px;
  min-height: 350px;
  height: 100%;
  padding: 20px 10px;
  color: #0abde3;
  background-color: white;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#portfolio .project-info-card i{
  font-size: 2.5em;
  margin: 20px;
}
#portfolio .project-info-card h2{
  text-align: center;
}
#portfolio .project-info-card p{
  margin: 15px 10px;
  color: #747d8c;
}
#portfolio #project-list .button-box{
  width: 150px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.button-box a,
.button-box a:visited,
.button-box button.project-screenshot{
  border: none;
  padding: 8px 12px;
  background-color: #48dbfb;
  color: white;
  text-decoration: none;
}
.button-box button.project-screenshot{
  display: none;
}
/*////////////////////////////////////////////////////////////////// END ///*/
#end{
  display: flex;
  width: 100%;
}
/*/////////////////////////////////////// BIO ///*/
#bio{
  box-sizing: border-box;
  width: 50vw;
  padding: 50px 40px 40px 40px;
  background-color: #feca57;
  border-bottom: 40px solid #ff6b6b;
  color: white;
}
#bio h2{
  margin-bottom: 15px;
}
#bio p{
  margin-bottom: 10px;
}

/*/////////////////////////////////////// CONTACT ///*/
#contact{
  box-sizing: border-box;
  width: 50vw;
  padding-top: 80px;
  color: #2f3542;
  border-bottom: 40px solid #ff6b6b;
  display: flex;
	flex-direction: column;
	align-items: center;
}
#contact form{
	max-width: 100%;
	padding: 30px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contact input,
#contact textarea{
  width: 200px; 
  margin: 10px; 
  padding: 10px;
}
#contact input[type="submit"]{
  width: 220px;
  border: none;
  background-color: #feca57;
  color: white;
  font-size: 1em;
  cursor: pointer;
}
/*////////////////////////////////////////////////////////////////// LIGHT BOX ///*/
.lightbox{
  width: 100vw;
  height: 100%;
  padding-top: 10px;
  display: none;
  background-color: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  left: 0;
}
.lightbox img{
  display: none;
  margin: auto;
  box-shadow: 0 4px 13px 0 black;
  border-radius: 3px;
}
.close{	
  margin: 10px;
  position: absolute;
  top:30px;
  right: 70px;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  color: white;
}
/*////////////////////////////////////////////////////////////////// MEDIA QUERIES ///*/
@media screen and (max-width: 800px){
  #about-img-bg{
    min-height: 40vh;
    height: auto;
  }
  #portfolio{
    height: auto;
    padding-bottom: 80px;
  }
  #portfolio #project-list .project{
    width: auto;
  }
  #portfolio #project-list .button-box{
  width: 200px;
  }
  .button-box button.project-screenshot{
    display: initial;
    min-width: 58px;
    font-size: 1em;
    cursor: pointer;
  }
  .lightbox img{
  	max-width: 100%;
	  display: none;
  }
  #contact{
    height: auto;
  }  
  #contact p{
    text-align: center;
  }  
}
@media screen and (max-width: 600px){
  nav{
    justify-content: center;
  }
  nav ul{
    margin-top: 7px;
  }
  #about,
  #portfolio{
    padding: 80px 20px 40px 20px;
  }
  #portfolio #project-list .project-info-card{
    box-sizing: border-box;
    width: 100%;
  }
  .lightbox img{
    margin-top: 40%;	
  }
  #end{
    flex-direction: column;
  }
  #bio{
    width: 100%;
    border: none;
  }
  #contact{  	
    height: 100vh;
    width: 100vw;
  }
}
