*{  
  margin: 0;
  font-family: 'Lato', sans-serif;
  list-style: none;
}
ul{
  padding: 0;
}
/*////////////////////////////////////////////////////////////////// NAV ///*/
nav{
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  background-color: #2f3542;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
}
nav ul{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
nav ul a{
  color: white;
  text-decoration: none;
}
/*////////////////////////////////////////////////////////////////// ABOUT ///*/
#about{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  height: 40vh;
  padding: 60px 40px 40px 40px;
  background-color: #ff6348;
  color: white;
}
#about h1{
  margin-bottom: 15px;
}
#about h4{
  margin: 40px 0 10px 0;
}
#about ul{
  width: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}
#about ul a{
  color: white;
}
/*////////////////////////////////////////////////////////////////// PORTFOLIO ///*/
#portfolio{
  box-sizing: border-box;
  height: 80vh;
  padding: 60px 40px 0 40px;
  background-color: #1e90ff;
  color: white;
}
#portfolio h1{
  margin-bottom: 20px;
}
#portfolio #project-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#portfolio #project-list .project{
  width: 300px;
  heigth: 400px;
  padding: 20px 10px;
  color: #1e90ff;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#portfolio .project i{
  font-size: 2.5em;
  margin: 20px;
}
#portfolio .project h2{
  text-align: center;
}
#portfolio .project p{
  margin: 15px 10px;
  color: #747d8c;
}
#portfolio #project-list .button-box{
  width: 200px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.button-box a,
.button-box a:visited,
.button-box button.project-screenshot{
  border: none;
  padding: 8px 12px;
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
}
.button-box button.project-screenshot{
  min-width: 58px;
  font-size: 1em;
  cursor: pointer;
}
/*////////////////////////////////////////////////////////////////// END ///*/
#end{
  display: flex;
  width: 100%;
}
/*/////////////////////////////////////// BIO ///*/
#bio{
  box-sizing: border-box;
  width: 50vw;
  padding: 40px;
  background-color: #2ed573;
  border-bottom: 40px solid #ff6348;
  color: white;
}
#bio h2{
  margin-bottom: 15px;
}
#bio p{
  margin-bottom: 10px;
}

/*/////////////////////////////////////// CONTACT ///*/
#contact{
  box-sizing: border-box;
  width: 50vw;
  padding-top: 80px;
  color: #2f3542;
  border-bottom: 40px solid #ff6348;
  display: flex;
	flex-direction: column;
	align-items: center;
}
#contact form{
	max-width: 100%;
	padding: 30px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contact input,
#contact textarea{
  width: 200px; 
  margin: 10px; 
  padding: 10px;
}
#contact input[type="submit"]{
  width: 220px;
  border: none;
  background-color: #2ed573;
  color: white;
  font-size: 1em;
  cursor: pointer;
}
/*////////////////////////////////////////////////////////////////// LIGHT BOX ///*/
.lightbox{
	width: 100vw;
	height: 100%;
	padding-top: 10px;
	display: none;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
}
.lightbox img{
	margin: auto;
	box-shadow: 0 4px 13px 0 black;
	border-radius: 3px;
}
.close{	
	margin: 10px;
	position: absolute;
	top:30px;
	right: 70px;
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
  color: white;
}
/*////////////////////////////////////////////////////////////////// MEDIA QUERIES ///*/
@media screen and (max-width: 800px){
  #portfolio{
    height: auto;
    padding-bottom: 80px;
  }
  #portfolio #project-list .project{
    width: auto;
    margin: 15px 0;
  }
  .lightbox img{
  	max-width: 100%;
	  display: none;
  }
  #contact{
    height: auto;
  }  
  #contact p{
    text-align: center;
  }  
}
@media screen and (max-width: 600px){
  nav{
    justify-content: center;
  }
  nav ul{
    margin-top: 7px;
  }
  #about,
  #portfolio{
    padding: 80px 20px 40px 20px;
  }
  #about{
    height: auto;
  }
  .lightbox img{
    margin-top: 40%;	
  }
  #end{
    flex-direction: column;
  }
  #bio{
    width: 100%;
    border: none;
  }
  #contact{  	
    height: 100vh;
    width: 100vw;
  }
}
